@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/* Configurações Globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: black;
    max-width: 1800px;
    margin: auto;
    overflow-x: hidden;
}

/* Estilos do Cabeçalho e Navegação */
header {
    display: flex;
    justify-content: center; /* Centraliza a navegação */
    max-width: 1800px;
    margin: 20px auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 30px;
}

.nav-links a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    transform: scale(1.1);
    margin: 0 15px;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    transition: 0.3s;
}

.links-nav:hover {
    background: linear-gradient(90deg, rgba(3, 83, 189, 1) 0%, rgba(0, 212, 255, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
    font-weight: 300;
}

/* Estilos do Menu Hambúrguer (invisível no desktop) */
#menu-hamburguer {
    display: flex; /* Escondido por padrão no desktop */
    flex-direction: column;
    cursor: pointer;
    margin-left: 20px; /* Adiciona um espaço da direita */
}

.barrinhas {
    width: 45px;
    height: 4px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.589);
    margin: 3px;
}

/* Estilos da Seção Principal */
#nomes {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 200px;
}

#nome {
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 190px;
    position: relative;
    left: 40px;
}

#apresentacao {
    height: 750px;
}

#sobrenome {
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 220px;
    position: relative;
    left: 90px;
    top: -80px;
}

#foto-perfil {
    position: relative;
    top: -400px;
    left: 1300px;
    width: 400px;
    border-radius: 200px;
    border: 8px solid white;
    box-shadow: 0 0 20px rgb(3, 83, 189);
}

/* Parte dos projetos */

.letreiros {
    font-family: "Inter", sans-serif;
    font-weight: 100;
    font-size: 50px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

/* Parte do footer */
footer {
    background-color: white ;
    text-align: center;
    padding: 60px;
    border-radius: 50px;
    font-weight: 100;
    font-size: 18px;
    color: white;
    height: 50vh;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

#links-uteis {
    display: flex;
    flex-direction: column;
    text-align: start;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
    padding: 15px;
    width: 17vw;
}

#links-uteis:hover, #redes-sociais:hover {
    transform: scale(1.1);
    transition: 0.3s;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.253);
}

#links-uteis a {
    text-decoration: none;
    color: black;
    margin: 10px 0;
    font-weight: 300;
    font-family: 'Inter', sans-serif;
}

#links-uteis a:hover, #redes-sociais a:hover {
    color: black;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}

#redes-sociais {
    display: flex;
    flex-direction: column;
    text-align: start;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
    padding: 15px;
    width: 12vw;
}

#redes-sociais a img {
    width: 25px;
    vertical-align: middle;
}


#redes-sociais a {
    text-decoration: none;
    color: black;
    margin: 10px 0;
    font-weight: 300;
    font-family: 'Inter', sans-serif;
}

#direitos-autorais {
    display: flex;
    flex-direction: column;
    text-align: right;
}
#direitos-autorais p {
    text-decoration: none;
    color: black;
    margin: 10px 0;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    font-family: 'Inter', sans-serif;
}
/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(82, 60%, 28%);
  --title-color: hsl(0, 0%, 0%);
  --text-color: hsl(0, 0%, 0%);
  --body-color: hsl(0, 0%, 95%);
  --container-color: hsl(0, 0%, 100%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "inter", sans-serif;
  --h2-font-size: 1.25rem;
  --small-font-size: .813rem;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1120px) {
  :root {
    --h2-font-size: 1.5rem;
    --small-font-size: .875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== CARD ===============*/
.container {
  display: grid;
  place-items: center;
  margin-inline: 1.5rem;
  padding-block: 5rem;
}

.card-container {
  display: grid;

}

.card-article {
  position: relative;
  overflow: hidden;
}

.card-img {
  width: 328px;
  border-radius: 1.5rem;
}

.card-data {
  width: 280px;
  background-color: var(--container-color);
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
  border-radius: 1rem;
  position: absolute;
  bottom: -9rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 1s 1s;
}

.card-description {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: .25rem;
  color: black;
}

.card-title {
  font-size: var(--h2-font-size);
  font-weight: 500;
  color: var(--title-color);
  margin-bottom: .75rem;
}

.card-button {
  text-decoration: none;
  font-size: var(--small-font-size);
  font-weight: 500;
  background: linear-gradient(90deg, rgba(3, 83, 189, 1) 0%, rgba(0, 212, 255, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card-button:hover {
  text-decoration: underline;
}

/* Naming animations in hover */
.card-article:hover .card-data {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity .3s;
}

.card-article:hover {
  animation: remove-overflow 2s forwards;
}

.card-article:not(:hover) {
  animation: show-overflow 2s forwards;
}

.card-article:not(:hover) .card-data {
  animation: remove-data 1s forwards;
}

/* Card animation */
@keyframes show-data {
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(-7rem);
  }
}

@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}

@keyframes remove-data {
  0% {
    transform: translateY(-7rem);
  }
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(.5rem);
  }
}

@keyframes show-overflow {
  0% {
    overflow: initial;
    pointer-events: none;
  }
  50% {
    overflow: hidden;
  }
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .card__data {
    width: 250px;
    padding: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 768px) {
  .card__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
}

/* For large devices */
@media screen and (min-width: 1120px) {
  .container {
    height: 100vh;
  }

  .card-container {
    grid-template-columns: repeat(4, 1fr);
  }
  .card-img {
    width: 348px;
    margin-right: 1.5rem;
  }
  .card-data {
    width: 316px;
    padding-inline: 2.5rem;
  }
}